.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family:Roboto;
}

#form{
  max-width: 780px;
  margin: auto;
}

.preview-img{
  width:100%;
  border-radius: 20px;
}

.form-body{
  padding: 20px;
  line-height: 40px;
}

.form-body p li{
  color:hsl(235, 18%, 26%);
  
}
li{
  list-style: none;
}

.form-body img{
  width: 12px;
  margin-right: 5px;
}

.email{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}

.email label{
  font-weight: bold;
  font-size:x-small;
  color:hsl(235, 18%, 26%);
}

input{
  padding: 10px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 5px;
}

.error-message{
  color: red;
  display:none;
}

.invalid-style{
  border: 1px solid hsl(4, 100%, 67%);
  color:hsl(4, 100%, 67%);
  background-color: hsl(5, 36%, 74%);
}

button{
  width:100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: hsl(235, 18%, 26%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: hsl(4, 100%, 67%);
}

.success-message{
  max-width: 480px;
  margin:100px auto;
  font-family: inherit;
  padding: 0px 20px;

}

.success-message img{
  width: 50px;
  margin-bottom: 20px;
}

.success-message h1{
  margin-bottom: 10px;
}

@media only screen and (min-width:1200px){
  #form{
    width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    margin:70px auto;
    border-radius: 20px;
   padding: 10px;
  }
  body{
    background-color: hsl(235, 18%, 26%);
  }

  .preview-img{
height: 500px;
max-width:400px;
object-fit:cover;
    
  }

}